/Ej3Operaciones/build/
/Ej4Rectangulo/nbproject/private/
/Ej4Rectangulo/build/
/Extra1/nbproject/private/
/Extra2/nbproject/private/
/Extra2/build/
/Extra3/nbproject/private/
/Extra3/build/
/Extra4/nbproject/private/
/Extra4/build/
/Extra5/nbproject/private/
/Extra5/build/
/Extra6/nbproject/private/
/Extra6/build/
/Extra3Mejorado/nbproject/private/
/Extra3Mejorado/build/